{% extends 'base.html.twig' %}

{% block title %}Gerechten{% endblock %}

{% block body %}
    <h1>Gerechten</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gerechten.id }}</td>
            </tr>
            <tr>
                <th>Soort_gerecht</th>
                <td>{{ gerechten.soortGerecht }}</td>
            </tr>
            <tr>
                <th>Naam</th>
                <td>{{ gerechten.naam }}</td>
            </tr>
            <tr>
                <th>Prijs</th>
                <td>{{ gerechten.prijs }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('gerechten_index') }}">back to list</a>

    <a href="{{ path('gerechten_edit', {'id': gerechten.id}) }}">edit</a>

    {{ include('gerechten/_delete_form.html.twig') }}
{% endblock %}
